services:
  - type: web
    name: tableau-monitor
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn "api.app:app" --timeout 120
    healthCheckPath: /
    healthCheckTimeout: 100
    autoDeploy: true
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.21
      - key: TABLEAU_SERVER_HOST
        sync: false
      - key: TABLEAU_SITE_NAME
        sync: false
      - key: TABLEAU_TOKEN_NAME
        sync: false
      - key: TABLEAU_API_TOKEN
        sync: false
    scaling:
      minInstances: 1
      maxInstances: 1
