services:
  - type: web
    name: tableau-monitor
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn 'api.monitor:app'
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.21
      - key: TABLEAU_SERVER_HOST
        sync: false
      - key: TABLEAU_SITE_NAME
        sync: false
      - key: TABLEAU_TOKEN_NAME
        sync: false
      - key: TABLEAU_API_TOKEN
        sync: false
